<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes and Meals</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="hamburger-menu" onclick="toggleMenu()">&#9776;</div>
            <div class="store-name">
                <h1>Recipes and Meals</h1>
            </div>
            <div class="icons">
                <a href="../payment.html">
                    <i class="fas fa-credit-card user-icon"></i>
                </a>
                <a href="../account.html">
                    <i class="fas fa-sign-in-alt user-icon"></i>
                </a>
                <a href="../myaccount.html">
                    <i class="fas fa-user user-icon"></i>
                </a>
            </div>
        </div>
    </header>
    <div class="sidebar" id="sidebar">
        <ul>
			<li><div class="hamburger-menu" onclick="toggleMenu()">&#9776;</div></li>
            <li>Main Menu</li>
            <li>Drinks and Beverages</li>
            <li>Recipes and Meals</li>
            <li>Kitchenware</li>
            <li>Merch</li>
        </ul>
    </div>
    <main>
        <div class="categories">
            <div class="category">
				<a href="page_food.html">
                <img src="icons/icon_drinks.svg" alt="Food">
                <p>Drinks and Beverages</p>
            </div>
            <div class="category">
				<a href="page_kitchenware.html">
                <img src="icons/icon_kitchenware.svg" alt="Kitchenware">
                <p>Kitchenware</p>
            </div>
            <div class="category">
				<a href="page_merch.html">
                <img src="icons/icon_merch.svg" alt="Merch">
                <p>Merchandise!</p>
            </div>
        </div>
    </main>
    <script src="script.js"></script>
</body>
</html>
